# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Krivous Diana u1910306 lab\lab-5-DianaKrivous0304-1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
